.vs
x64
build/
intermediateBuild/
output/
vs_build/
.DS_Store
installed/
buildcache/
packages/
*.user
CurrentVersion/CurrentVersion.h
CurrentVersion/CurrentVersion.cs
CachedBuildProducts
*.orig
cmake.lock
buildcache*/
buildcache.zip
CompilerCache/
cpmcache/
CommonCpp
install/
Luma/WebLuma/node_modules/

*.DLL

buildem/